body {
  background-color: #2f2235;
}

.Navbar {
  background-color: #3f3244;
  color: white;
}

.City {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}